
<!DOCTYPE html>
<html lang="en">
	<head>
      <title><%=title%></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="IFACTURACION, SISTEMA DE FACTURACION ELECTRONICA, FACTURACION ELECTRONICA">
      <meta name="description" content="PALERP CONSULTORES">
      <!-- END META -->
  
      
      <link href="/assets/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
      <link href="/assets/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet"> 
      <link href="/assets/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
      <link href="/assets/vendors/bower_components/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/assets/css/app_1.min.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/app_2.min.css" /> 
      <link type="text/css" rel="stylesheet" href="/assets/css/waitMe.min.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/custom.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap3-wysihtml5.min.css" />
      <script src="/assets/vendors/bower_components/jquery/dist/jquery.min.js"></script> 
       
	</head>
 
	

	<body>
    <!-- BEGIN HEADER-->
    
    <header id="header" class="clearfix" data-ma-theme="blue">
        <ul class="h-inner">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="hi-logo hidden-xs">
                <a href="javascript:void(0);"><%= Nom_Empresa %></a>
            </li>

            <li class="pull-right">
                <ul class="hi-menu">

                    <li data-ma-action="search-open">
                        <a href="#"><i class="him-icon zmdi zmdi-search"></i></a>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            <i class="him-icon zmdi zmdi-email"></i>
                            <i class="him-counts">6</i>
                        </a>
                       
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            <i class="him-icon zmdi zmdi-notifications"></i>
                            <i class="him-counts">9</i>
                        </a>
                       
                    </li>
                     
                </ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
                <input type="text">
            </div>
        </div>
    </header>

 
	<!-- BEGIN BASE-->
  <section id="main">
	 
		<!-- BEGIN CONTENT-->
		<aside id="sidebar" class="sidebar c-overflow">
      <div class="s-profile">
          <a href="#" data-ma-action="profile-menu-toggle">
              <div class="sp-pic">
                  <img src='images/default_profile_image.png' alt="">
              </div>

              <div class="sp-info">
                   <%=Nick%> 
                    <p id="nick" style="display: none"><%=Nick%> </p>
                  <i class="zmdi zmdi-caret-down"></i>
              </div>
          </a>

          <ul class="main-menu">
              
              <li>
                  <a  href="javascript:void(0)" id="btnCambiarTurno"><i class="zmdi zmdi-refresh"></i> Cambiar de turno</a>
              </li>
              <li>
                  <a href="logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
              </li>
          </ul>
      </div>
      <div id="nav-container">  
      </div>
    </aside>
    <section id="content">
      
      <div class="container" id="main-contenido">

      </div>
      
    
    </section>
  </section> 
  <footer id="content_footer">
          
    </footer>
		<!-- END CONTENT -->
 


	<!-- BEGIN JAVASCRIPT -->
  <script src="/assets/vendors/bower_components/jquery/dist/jquery.min.js"></script> 
  <script src="/assets/js/jquery-ui.min.js"></script>  
  <script src='/assets/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src="/assets/vendors/bower_components/Waves/dist/waves.min.js"></script>
  <script src="/assets/vendors/bootstrap-growl/bootstrap-growl.min.js"></script> 
  <script src="/assets/js/app.min.js"></script> 
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/waitMe.min.js"></script>
  <script src="/assets/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="/assets/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/assets/js/jquery.ui.combobox.js"></script> 
  <script src="/assets/js/bootstrap3-wysihtml5.all.min.js"></script> 
  <script src="/assets/js/ckeditor/ckeditor.js"></script> 
  <script src="/app_proc.js"></script>
<script>
    notify('Bienvenido ',$("#nick").text(),'top', 'left', 'fa fa-check', 'inverse', 'animated fadeInLeft', 'animated fadeOutLeft');
    //notify("Bienvenido "+$("#nick").text(),"inverse") 
</script>
	
	<!-- END JAVASCRIPT -->

	
	
	</body>
</html>