<!DOCTYPE html>
<html lang="en">

<head>
    <title>iFacturacion Pale</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="IFACTURACION, SISTEMA DE FACTURACION ELECTRONICA, FACTURACION ELECTRONICA">
    <meta name="description" content="PALERP CONSULTORES">
    <!-- END META -->

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
        type='text/css' />
    <link href="/assets/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/app_1.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/app_2.min.css" /> 

<body>
 
    <div class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <% if(typeof err != 'undefined' && err!='') { %>
                <div class="alert alert-callout alert-danger" id="divError" data-value="0">
                    <p id="textError">
                        <%=err%>
                    </p>
                </div>
                <% }else{ %>
                <div class="alert alert-callout alert-danger" id="divError" data-value="1" style="display: none;">
                    <p id="textError"></p>
                </div>
            <% } %>
                
            <div class="lcb-form">
                <form accept-charset="utf-8" action="login" method="post" id="formLogin">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-store"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="empresa" name="RUC" placeholder="RUC" required>
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="usuario" placeholder="Usuario" name="usuario" required>
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-lock-open"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" required>
                        </div>
                    </div>
 

                    <a class="btn btn-login btn-success btn-float" id="login"><i class="zmdi zmdi-arrow-forward" ></i></a>
                </form>
            </div>

          
        </div>

        <!-- Register -->
        <div class="lc-block" id="l-register">
            <div class="lcb-form">
                <form accept-charset="utf-8" action="/empresa_api/register" method="post" id="formRegister">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-store"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="ruc" name="ruc" placeholder="RUC" required>
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="razon" name="razon" placeholder="Razon Social" required>
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin-drop"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion" required>
                        </div>
                    </div>
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" required>
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                    </div>
                    <a class="btn btn-login btn-success btn-float" id="register"><i class="zmdi zmdi-arrow-forward" ></i></a>
                </form>
 
            </div>

            <div class="lcb-navigation">
                <a href="#" data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Iniciar Sesion</span></a>
                <a href="#" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Recuperar contraseña</span></a>
            </div>
        </div>

        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password">
            <div class="lcb-form">
                <p class="text-left">Para recuperar tu contraseña es necesario ingresar los siguientes campos.</p>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-store"></i></span>
                    <div class="fg-line">
                            <input type="text" class="form-control dirty" id="ruc" name="ruc" placeholder="RUC" required>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        <input type="email" class="form-control dirty" id="email" name="email" placeholder="Email" required>
                    </div>
                </div> 
                <a class="btn btn-login btn-success btn-float" id="recovery"><i class="zmdi zmdi-arrow-forward" ></i></a>
            </div>

            <div class="lcb-navigation">
                <a href="#" data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Iniciar Sesion</span></a>
                <a href="#" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Registrarse</span></a>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->

    <!-- BEGIN JAVASCRIPT -->
    <script src="/assets/vendors/bower_components/jquery/dist/jquery.min.js"></script> 
    <script src='/assets/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src="/assets/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="/assets/js/app.min.js"></script> 
    <script>
        $(document).ready(function () {

            $("#login").click(function () {
                $("#formLogin").submit();
            });

            $("#register").click(function () {
                $("#formRegister").submit();
            });
        });
    </script>

    <!-- END JAVASCRIPT -->

</body>

</html>