<!DOCTYPE html>
<html lang="en">

<head>
    <title>iFacturacion Pale</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="IFACTURACION, SISTEMA DE FACTURACION ELECTRONICA, FACTURACION ELECTRONICA">
    <meta name="description" content="PALERP CONSULTORES">
    <!-- END META -->
 
    <link href="/assets/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/app_1.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/app_2.min.css" /> 
    <link type="text/css" rel="stylesheet" href="/assets/css/waitMe.min.css" />
    <script src="/assets/vendors/bower_components/jquery/dist/jquery.min.js"></script> 

<body>
 
    <div class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <% if(typeof err !='undefined' && err!='') { %>
                <div class="alert alert-callout alert-danger" id="divError" data-value="0">
                    <p id="textError"><%=err%></p>
                </div>
            <% }else{ %>
                <div class="alert alert-callout alert-danger" id="divError" data-value="1" style="display: none;">
                    <p id="textError"></p>
                </div>
            <% } %>
    
                
            <div class="lcb-form">
                <p class="text-left">Selecciona la caja y el turno para iniciar el sistema</p>
                <form accept-charset="utf-8" action="logincajas" method="post" id="formLoginCajas">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-store"></i></span>
                        <div class="fg-line">
                            
                            <div class="select">
                                <select id="Caja" name="Caja" class="form-control">
                                        <% if(typeof cajas != 'undefined') { %>
                                            <% cajas.forEach(function(e){ %>
                                                <option value="<%=e.Cod_Caja%>"><%=e.Des_Caja%></option> 
                                            <% }) %>
                                        <% } %>
                                </select>
                            </div>

                        </div>
                    </div>
                    
 
                    <div class="input-group m-b-20" id="select-turno">
                        <div class="input-group-addon">
                            <a id="btnTurnoSiguiente" href="javascript:void(0);" ><i class="zmdi zmdi-arrow-right"></i></a>
                        </div>
                        <div class="fg-line">
                            <div class="select">
                                <select id="Turno" name="Turno" class="form-control">
                                </select> 
                            </div>
                        </div>
                    </div> 
                    <a class="btn btn-login btn-success btn-float" id="login_cajas"><i class="zmdi zmdi-arrow-forward" ></i></a>
                   
                </form>
            </div>
          
        </div>
  
    </div>
    <!-- END LOGIN SECTION -->

    <!-- BEGIN JAVASCRIPT -->
    <script src="/assets/vendors/bower_components/jquery/dist/jquery.min.js"></script> 
    <script src='/assets/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src="/assets/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="/assets/js/app.min.js"></script> 
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/waitMe.min.js"></script>
    <script src="/app_login.js"></script>
    <script>
        $(document).ready(function () {

            $("#login_cajas").click(function () {
                $("#formLoginCajas").submit();
            });
 
        });
    </script>

    <!-- END JAVASCRIPT -->

</body>

</html>